NEXT_PUBLIC_API_TARGET=deployed
NEXT_PUBLIC_DEPLOYED_API_BASE_URL=https://nexus-api-xhe7.onrender.com
NEXT_PUBLIC_LOCAL_API_BASE_URL=http://localhost:8080
NEXT_PUBLIC_AUTH_PROVIDER=api
AUTH_SESSION_COOKIE_NAME=access_token
NEXT_PUBLIC_CSRF_COOKIE_NAME=XSRF-TOKEN
NEXT_PUBLIC_CSRF_HEADER_NAME=X-CSRF-TOKEN
